@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    /* -ms-overflow-style: none;  Internet Explorer 10+ */
    /* scrollbar-width: none;  Firefox */
}

::-webkit-scrollbar { 
    /* display: none;  Safari and Chrome */
}

body{
    background-color: #1e2124;
}


.limited-text {
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;  /* Number of lines displayed before it truncate */
    overflow: hidden;
}

/* to hide up and down arrows on number input elements */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

